
/* Cor de fundo do header, seguindo a identidade visual da marca */ 
.header {
  overflow: hidden;
  background-color: #191d1d;
  padding: 20px 10px;
}

/* Alinhamento dos tipos <a>, links e afins */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Muda a cor de fundo caso o usuário passe o mouse */
.header a:hover {
  background-color: #ddd;
  color: white;
}


.white {
  color: white;
}

/* Apenas mudar a cor dos links ativos*/
.header a.active {
  background-color: #92ac86;
  color: white;
}

/* Alinha os botões para a direita da página */
.header-right {
  float: right;
}

/* Após a leitura de um tutorial, consegui torna-lo responsivo  */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* Pagina inicial  */


/* Alguns testes */
.posts_recentes {
    display: block;
    text-align: left;
    font-size: 16px;
    
    
    
}

/* Alguns testes referentes a tela de login */
.box_login {
    text-align: center;
    position: relative;
    left: center;
    top: 50%;
    
}


/* Botão clicável */
.submitButton {
    background-color: #92ac86;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}
/* Botão quando clicado reduz a opacidade */
.submitButton:hover {
    opacity: 0.8;
}

/* Botão clicável para excluir */
.deleteButton {
    background-color: #DD614A;
    color: white;
    padding: 3px 4px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}
/* Botão quando clicado reduz a opacidade */
.deleteButton:hover {
    opacity: 0.8;
}


/* Testando alinhamento */
.pai {
    text-align: center;

    width: 100%;
    height: 50%;

}

/* Testando alinhamento */
.filho {
    width: 400px;

}




